@page
@model BL3w_GroupProject.Pages.Admin.ManageProduct.ListProductModel

@{
    ViewData["Title"] = "ListProduct";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>List Product</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post">
    <select name="SearchBy">
        <option value="ProductCode">Search by ProductCode</option>
        <option value="Name">Search by Name</option>
    </select>
    <input type="text" asp-for="Keyword" />
    <button type="submit" class="btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Code
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Status
            </th>
            <th>
                Area Name
            </th>
            <th>
                Category Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @if (item.Status == 1)
                    {
                        <span class="text-success">Active</span>
                    }
                    else if (item.Status == 0)
                    {
                        <span class="text-danger">Inactive</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryCode)
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    .horizontal-pagination {
        display: flex;
        justify-content: center;
    }

        .horizontal-pagination ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
        }

        .horizontal-pagination li {
            margin-right: 5px;
        }
</style>

<div class="horizontal-pagination">
    <ul>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="@(i == Model.PageIndex ? "active" : "")">
                <a asp-page="./ListAccount" asp-route-pageIndex="@i">@i</a>
            </li>
        }
    </ul>
</div>
