@page
@model BL3w_GroupProject.Pages.Manager.LotPage.IndexModel

@{
    ViewData["Title"] = "Lot Index";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lot Code
            </th>
            <th>
                Date In
            </th>
            <th>
                Note
            </th>
            <th>
                Status
            </th>
            <th>
                Account Name
            </th>
            <th>
                Partner Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lot)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LotCode)
                </td>
                <td>
                    @item.DateIn.ToString("d")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text-success">Active</span>
                    }
                    else
                    {
                        <span class="text-danger">Inactive</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partner.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.LotId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.LotId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.LotId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
